PORT=3000
APP_URL=https://distinguished-miracle-production.up.railway.app
BRAND_NAME=Pizzeria Berlino
ADMIN_EMAILS=admin@ex.com
SESSION_SECRET=PLEASE_REPLACE_WITH_A_LONG_RANDOM_SECRET
STAFF_PIN=2468
DEV_AUTO_VERIFY=false

INSTAGRAM_URL=https://www.instagram.com/pizza_berlino/
REVIEW_URL=https://g.page/r/CcF9V1iR1Es9EBM/review

WALLETWALLET_API_KEY=ww_live_c6dc305f994c33d296203d00799442e5
WALLETWALLET_COLOR_PRESET=red

DATABASE_URL="postgresql://neondb_owner:npg_XfL3bcKO7voP@ep-misty-resonance-agb779fq.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require&connect_timeout=15"
DIRECT_URL="postgresql://neondb_owner:npg_XfL3bcKO7voP@ep-misty-resonance-agb779fq.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require&connect_timeout=15"


SMTP_HOST=smtp.resend.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=resend
SMTP_PASS=re_DjSfD4zV_MRnTgRpDCLhd5v98xScZYt18
SMTP_FROM="Pizzeria Berlino <no-reply@dzrenzu.com>"
SMTP_CONNECTION_TIMEOUT=10000
SMTP_GREETING_TIMEOUT=10000
SMTP_SOCKET_TIMEOUT=15000
